
a:visited h1, a h1 {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Alice', serif;
  padding: 0px;
  background-color: #011152;
  margin: 0px;
}

.content {
  background-color: #1c328c;
}

.feeds {
  background-color: #ff7004;
  height: 34px;
  overflow: hidden;
  color: white;
}

.header {
  font-family: 'AurulentSansBold', 'AurulentSans', 'AurulentSansRegular', sans-serif;
  font-weight: bold;
  background-color: #011152;
  color: white;
  position: relative;
  width: 900px;
  margin: 0px auto;
}

.header h1 {
  font-family: 'AurulentSansBold', 'AurulentSans', 'AurulentSansRegular', sans-serif;
  font-weight: bold;
  size: 120%;
}

.twitter {
  position: relative;
  top: -312px;
  margin: 0px auto;
}

.post {
  width: 110ex;
  padding: 1em;
  margin: 1em auto;
  color: white;
  overflow: auto;
}

.postmetadata {
  position: relative;
  left: 0px;
  top: 0px;
  width: 20ex;
  margin: 0px;
}

.post a {
  color: white;
}

.post p {
  margin-top:0px;
}

.postcontent {
  width: 75ex;
  float: right;
  clear: none;
  font-family: 'AurulentSans', 'AurulentSansRegular', sans-serif;
  margin: 0px;
  padding: 0px;
}

.postcontent h2 {
  font-family: 'Alice', serif;
}

.postfooter {
}

.footer {
  width: 80ex;
  margin: 0px auto;
  background-color: #011152;
  color: white;
  padding: 2em 4em;
  text-size: 40%;
  text-align: center;
}

h1.posttitle {
  font-family: 'Alice', serif;
  /*font-family: 'AurulentSans', 'AurulentSansRegular', sans-serif;*/
  border-bottom: 5px ridge white;
  margin-top: 0px;
}

h1.posttitle a {
  text-decoration: none;
}

hr {
  visibility: hidden;
}
